<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>James Park's Portfolio</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <h3 id = "LeftTitle">Made by James Park</h3>
</head>


<body id = "NYCframe">

  <ul id = "topTabs">
    <li><a href="#">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="projects">Projects</a></li>
  </ul>

  <h1 id = "MainMenuPrompt">Welcome to my portfolio page.</h1>
</body>

</html>
