<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id = "aboutFrame">

  <h2>Title</h2>
  <h5><%= data.title %></h5>
  <h2>Body</h2>
  <h5><%= data.body %></h5>
</body>
</html>
